.custom-button {
  background-color: black;
  color: white;
  padding: 2em;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 8px;
}

.custom-button:hover {
  cursor: pointer;
  border-color: white;
}
